body{
background-color: rgb(202, 202, 255);
}
.cal {
 color: rgb(45, 87, 129);
 margin: 20px;
 text-align: center;
}
button{
  margin-left: 550px;
  margin-top: 10px;
  background-color: beige;
}
button.click:hover{
  background-color: rgb(224, 224, 176);
}
.container{
  max-width: 100px;
  margin-left: 500px;
}
.numericgrade {
 text-align: center;
 font-size: 25px;
 font-weight: bolder;
}
.click {
 color: lightslategrey;
 background-color: rgb(212, 179, 179);
 text-align: center;
}
  
.click:hover {
 background-color: rgb(203, 224, 143); 
}
